<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean class="demo.Demo1" id="stdid1">
		<property name="name" value="sai"></property>
		<property name="roll" value="101"></property>
		<property name="mail" value="sai@gmail.com"></property>
		
		
		</bean>
</beans>